page {
  font-size: 15pt;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.at-float-layout__container {
  max-height: auto !important;
  min-height: auto !important;
  bottom: auto !important;
}
.at-float-layout .layout-body__content {
  max-height: 100% !important;
}
.at-float-layout--active .at-float-layout__container {
  height: 100vh !important;
  top: 31% !important;
}
.at-card__header {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.at-card__content {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.at-card__header-title {
  font-weight: bolder !important;
  // color:#ff6666!important
}
.result .at-modal__content {
  min-height: auto;
}
.at-card__content-info .picker {
  height: 50px !important;
}
.at-modal__content {
  position: relative;
}
.at-input__title {
  font-size: 26px !important;
  width: 120px !important;
}
.at-input__input {
  font-size: 26px !important;
}
// .syxjName-box {
//   color: #f22c3d;
//   .at-card__header-title {
//     color: #f22c3d !important;
//   }
// }
.edit-box {
  .at-card {
    margin-bottom: 20px !important;
  }
  .at-card__header-title {
    font-size: 28px !important;
  }
}
.at-float-layout .layout-body {
  height: 100% !important;
  min-height: auto !important;
  max-height: auto !important;
}
.at-modal__footer .at-modal__action {
  flex-direction: row;
}
.flex {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.at-card__header {
  flex-direction: row !important;
}
picker {
  height: 50px !important;
  line-height: 50px !important;
  view {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.picker {
  height: 50px !important;
  line-height: 50px !important;
}
.at-card__header-title {
  font-weight: bold !important;
}
.edit-item {
  margin-bottom: 10px;
  border: 1px #b3c2ce solid;
  border-radius: 6px;
  padding: 7px 20px;
}
.at-float-layout .layout-header__btn-close {
  width: 80px !important;
}
