page {
  font-size: 15pt;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.at-float-layout__container {
  min-height: 60% !important;
}
.at-card__header {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.at-card__content {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.at-card__header-title {
  font-weight: bolder !important;
  // color:#ff6666!important
}
.result .at-modal__content {
  min-height: auto;
}
.at-card__content-info .picker {
  height: 50px !important;
}
.at-modal__content {
  position: relative;
}
.at-input__title {
  font-size: 26px !important;
  width: 120px !important;
}
.at-input__input {
  font-size: 26px !important;
}
.syxjName-box {
  color: #f22c3d;
  .at-card__header-title {
    color: #f22c3d !important;
  }
}
.edit-box {
  .at-card {
    margin-bottom: 30px !important;
  }
  .at-card__header-title {
    font-size: 28px !important;
  }
}
canvas {
  transform: translate3d(0, 0, 0) !important; /* 启用硬件加速 */
}
