page{
  font-size: 15pt;
}
.at-float-layout__container{
  min-height: 60%!important;
}
.at-card__header-title{
  font-weight: bolder!important;
  // color:#ff6666!important
}
.result .at-modal__content{
  min-height: auto;
}
