.marquee-container {
  overflow: hidden;
}

.marquee-text {
  white-space: nowrap;
  animation: marquee-animation linear 10s infinite;
  margin-bottom: 120px;
  color:#fff
}

@keyframes marquee-animation {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}
