.marquee-container {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  margin-bottom: 100px;
  width: 100%;
  color:#fff
}

.marquee-text {
  display: inline-block;
  white-space: nowrap;
}
