.marquee-container {
  overflow: hidden;
  position: absolute;
  width:100vw;
  left: 0;
  top: 10px;
  z-index: 99999;
}

.marquee-text {
  white-space: nowrap;
  animation: marquee-animation linear 10s infinite;
  color: #fff;
  overflow: hidden;
}

@keyframes marquee-animation {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}
