.item10-wrapper {
  color: #000;
  position: absolute;
  left: 38px;
  bottom: 32px;
  font-size: 23px;
  font-family: "HYQiHei 65J";
  border-radius: 7px;
  width: 356px;
  background-color: rgba(201,203,204,.5);
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  // padding-bottom: 10px;
  transform-origin: left bottom;
  transition: transform 0.3s ease;
}
.item10-title {
  background-color: rgb(0,89,255,.6);
  padding: 14px 30px 14px 45px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
  color: #fffefa;
  position: relative;
}
.item10-dot {
  width: 12px;
  height: 12px;
  background-color: #f2c343;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 20px;
}
.item10-label-title {
  width: 115px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.item10-location {
  position: relative;
  margin-bottom: 8px;
  margin-top: -12px;
  margin-left: -1px;
  opacity: 0.9;
  text {
    line-height: 1.3;
  }
}
.item10-label-item {
  padding: 0px 10px;
  white-space: wrap;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: baseline;

  &-bg {
    padding: 0 0 0 0;
    color:#fff;
  }
  .item10-label-title {
    flex-shrink: 0;
    margin-right: 10px;
  }
}
.item10-label-item.item10-label-item-bg:last-child {
  margin: 0;
}
.item10-bg-container{
  margin-top: 6px;
  padding: 15px 10px;
  background-color: rgb(0,89,255,.6);
}
