.item3-wrapper {
  width: 100%;
  color: #fff;
  position: absolute;
  left: 0px;
  bottom: 62px;
}
.item3-time {
  font-size: 100px;
  font-family: 'Helvetica Neue Light';
      text-shadow: 0.1rpx 0.1rpx 0.1rpx rgba(0, 0, 0, 0.2);

  text-align: center;
  margin-bottom: 12px;
}
.item3-date,
.item3-week,
.item3-location {
  flex-shrink: 0;
      text-shadow: 0.1rpx 0.1rpx 0.1rpx rgba(0, 0, 0, 0.2);

}
.item3-date {
  font-weight: normal;
  font-family: 'Helvetica Neue';
}
.item3-week {
  margin-left: 12px;
  font-weight: bold;
}

.item3-addr-wrap {
  margin-top: 10px;
  justify-content: center;
  align-items: baseline;
  position: relative;
  min-height: 90px;
  image {
    width: 27px;
    height: 38px;
    margin: 0 0px 0 14px;
    transform: translate3d(-5px, 10px, 0);
    flex-shrink: 0;
  }
}
.item3-location {
  max-width: 65%;
  font-weight: 500;
  text {
    line-height: 1.2;
  }
}
