page {
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.camera-box {
  position: relative;
  min-height: 60%;
  width: 100%;
}
.camera-box {
  position: relative;
}

.camera {
  height: 100%;
  display: block; /* 确保相机组件显示为块级元素 */
}

.camera-cover {
  position: absolute;
  bottom: 0;
  left: 0;
}
.editTips {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 42px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.4),
    0 0 1px rgba(0, 0, 0, 0.4);
  animation: fadeOut 1s ease-in-out 5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.snapshot {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;
}
.mask-box {
  // position: absolute;
  // bottom: 15px;
  // left: 0;
  width: 100%;
  height: 100%;
  &.top {
    bottom: 27%;
  }
  .mask-inner-box {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
.camera-btns {
  position: absolute;
  right: 10px;
  bottom: 150px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 99;
}

.fanzhuan-icon,
.shanguangdeng-icon {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  image {
    width: 60%;
    height: 60%;
  }
}
.shanguangdeng-icon image {
  width: 45%;
  height: 45%;
}
.zoom-text,
.fanzhuan-icon,
.shanguangdeng-icon {
  font-size: 15pt;
  width: 80px;
  height: 80px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.5); // 半透明的黑色背景
  color: #fff; // 白色字体
  border-radius: 50%; // 使div变成圆形
  display: flex; // 使用Flexbox布局
  flex-direction: row;
  justify-content: center; // 水平居中
  align-items: center; // 垂直居中
  text-align: center; // 文本居中
}
.icon-x {
  position: relative;
  width: 25px; // 图标的宽度
  height: 25px; // 图标的高度
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 24px; // 交叉线的宽度
    height: 3px; // 交叉线的高度
    background-color: #fff; // 交叉线的颜色
  }

  &::before {
    transform: rotate(50deg); // 顺时针旋转45度
  }

  &::after {
    transform: rotate(-50deg); // 逆时针旋转45度
  }
}
.hideCanvas {
  position: absolute;
  left: -10000px;
  top: -10000px;
}
.setting-icon {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.tools-bar {
  height: 11%;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
  > view {
    width: 25%;
    flex-shrink: 0;
  }
}
.tools-bar-inner {
  box-sizing: border-box;
  padding: 0 5%;
  width: 50% !important;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
}
.bottom-btns {
  margin-top: 20px;
  padding: 0 20px;
  > view {
    width: 45%;
    text-align: center;
    height: 64px;
    line-height: 64px;
    flex-shrink: 0;
  }
}

/* pages/index/index.scss */
.take-photo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-top: -8rpx;
}

.camera-button {
  width: 120px;
  height: 120px;
  border: 2px solid #5675fa; // 外边细线
  border-radius: 50%; // 外圆
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
  &-video {
    border-color: #cf73d3;
  }
}

.camera-button-inner {
  width: 110px;
  height: 110px;
  border-radius: 50%; // 内圆
  transition: all 0.3s linear;
  background-color: #5675fa;
}

.camera-button-inner-video {
  transition: all 0.3s linear;
  background-color: #cf73d3;
}
.share-btn,
.vip-btn {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  border: 1px solid #515151;
  border-radius: 50px;
  width: 45%;
  image {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
}
.shantui-btns {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 27px;
  height: auto;
  margin-bottom: 10px;
  border: 1px #f22c3d solid;
  border-radius: 6px;
  padding: 10px 20px;
}

.vip-btn image {
  width: 50px;
  height: 50px;
}
.modal-list {
  view {
    margin-bottom: 10px;
    color: "#535351";
  }
}
.txt1 {
  margin-top: 20px;
  view {
    margin: 0 5px;
    color: cornflowerblue;
  }
}
.auth-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  box-sizing: border-box;
  background-color: #7c7c7c;
  color: #fff;
  view {
    margin-bottom: 40px;
    font-size: 34px;
    width: 100%;
  }
}
.auth-list {
  view {
    margin-bottom: 10px;
  }
}
.hasAuth {
  color: rgb(82, 196, 26);
}
.noAuth {
  color: rgb(255, 77, 79);
}
.xiangceIcon {
  width: 70rpx;
  height: 70rpx;
}
.leftArrow {
  animation: moveLeftRight 1.5s infinite ease-in-out;
}
/* 定义左右往复移动的动画 */
@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px); /* 向左移动的距离 */
  }
  100% {
    transform: translateX(0); /* 回到初始位置 */
  }
}
.xiangce,
.shuiyin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  text {
    margin-top: 10px;
  }
}
.kefu {
  button::after {
    border: none;
  }
}
.vip {
  margin-left: 30%;
}
.shuiyin-list-no-grid {
  display: block !important;
}
.imgVideoShuiyin {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 10px;
  label {
    width: 160px;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: start;

    &.video-item {
      width: 450px;
    }
  }
}
.xiangce {
  margin-right: 20%;
}
.shuiyinIcon {
  width: 70rpx;
  height: 70rpx;
}
.shuiyin-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  > view {
    width: calc((100% - 35px) / 3); /* (总宽度 - 两个间距) / 3 */
    margin-right: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    &:nth-child(3n) {
      /* 选中每行最后一个 */
      margin-right: 0;
    }
  }
}
.extra-view {
  ad-custom {
    width: 95% !important;
    margin-bottom: 40px;
  }
}

.shuiyin-item {
  position: relative;
  width: 100%;
  border-radius: 16px;
  height: 200px;
  background: #828282;
  overflow: hidden;
  .shuiyin-item-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .shuiyin-item-img {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    padding: 20px 0;
    height: 100%;
    box-sizing: border-box;
    position: relative;
  }
  image {
    width: 100%;
    height: 100%;
  }
  .vip-arrow {
    position: absolute;
    right: 0px;
    bottom: 0;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: bold;
    color:#442700;
    background: #FFC107;
    border-radius: 10px;
  }
  button {
    display: inline-block;
    padding: 5px 30px;
    background-color: #ff6347; /* 橙红色背景 */
    color: #fff; /* 白色文字 */
    border: none;
    font-size: 30px;
    line-height: 1.8;
  }
}
.input-item {
  width: 100%;
  padding: 10px 0px;
}
.input-title {
  font-size: 26px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}
picker,
.picker {
  height: 60px;
  line-height: 60px;
  text {
    flex-shrink: 0;
  }
}
.picker {
  display: flex;
  flex-direction: row;

  justify-content: start;
  align-items: center;
}
.at-card__content {
  padding: 10px 30px;
}
.at-card {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.input {
  height: 60px;
  line-height: 60px;
  width: 90%;
}

.tips {
  color: #333;
  margin-bottom: 30px;
  display: block;
  &.red {
    margin-bottom: 0px !important;
    color: #ff6666;
  }
}
.add-my-app {
  right: 30px;
  top: 190px;
  position: absolute;
  image {
    z-index: 999;
    width: 316px;
    height: 70px;
    display: block;
  }
}
.yinsiModal {
  min-height: 100px !important;
  font-size: 30px !important;
}

.share-btn {
  display: flex;
  justify-content: center;
  flex-direction: row;

  align-items: center;
  overflow: hidden;
  padding: 3px 20px;
  background-size: 300% 300%;
  backdrop-filter: blur(10px);
  border-radius: 80px;
  transition: 0.5s;
  height: 90px;
  width: 100%;
  animation: gradient_301 5s ease infinite;
  border: double 8px transparent;
  background-image: linear-gradient(rgba(44, 44, 44, 0.1), rgb(44, 44, 44)),
    linear-gradient(
      137.48deg,
      #ff512f 10%,
      #fe53bb 45%,
      #d2cc37 67%,
      #0044ff 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;

  text {
    z-index: 2;
    /* letter-spacing: 5px; */
    color: #ffffff;
    /* text-shadow: 0 0 2px white; */
  }
}
#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.3s;
  backdrop-filter: blur(30px);
  border-radius: 80px;
}

#glow {
  position: absolute;
  display: flex;
  flex-direction: row;

  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(20px);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 2px, transparent 1%);
  background-size: 100px 100px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 2px, transparent 1%);
  background-size: 80px 80px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* RedEnvelope.scss */
.red-envelope-container {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.red-envelope-image {
  width: 80px; // 调整为您图片的实际宽度
  height: 80px; // 调整为您图片的实际高度
  animation: bounce 0.3s infinite alternate;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(-10px) scale(1.2);
  }
}
@keyframes jumpUp {
  0% {
    transform: translateY(0) scale(1);
  }
  25% {
    transform: translateY(-30px) scale(1.15);
  }
  50% {
    transform: translateY(0) scale(1);
  }
  75% {
    transform: translateY(-30px) scale(1.15);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.button-animate {
  animation: jumpUp 1.6s ease-in-out;
  animation-fill-mode: both;
}

.tools-bar-inner .button-animate:nth-child(1) {
  animation-delay: 1s;
}

.tools-bar-inner .button-animate:nth-child(2) {
  animation-delay: 1.1s;
}
.tools-bar-inner:last-child .button-animate:nth-child(1) {
  animation-delay: 1.2s;
}

.tools-bar-inner:last-child .button-animate:nth-child(2) {
  animation-delay: 1.3s;
}
.logo-wrap {
  position: absolute;
  left: 20px;
  z-index: 9;
}
.add-pic-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-direction: column;
  text {
    font-size: 24px;
    margin-top: 10px;
    color: #fff;
  }
}
.media-type-box {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 20px auto 10px auto;
  height: 40px;
}

.button-group {
  display: flex;
  flex-direction: row;
  padding: 0 16px 8px 0;
  border-radius: 80px;
  width: 90%;
  margin: 30px auto;

  &__button {
    flex: 1;
    padding: 8px 16px;
    font-size: 28px;
    font-weight: 500;
    border-radius: 50px;
    margin-right: 16px;
    background-color: #ffffff;
    transition: all 0.2s ease;
    align-items: center;
    height: 70px;
    line-height: 1;
    color: rgb(24, 24, 24);
    border: 1px solid #c5d9e8;
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: #e5e7eb;
    }

    &--selected {
      color: #fff;
      border: none;
      &.selected_0 {
        background: linear-gradient(45deg, #5675fa, #67b3f4);
      }
      &.selected_1 {
        background: linear-gradient(45deg, #ff6ec4, #7873f5);
      }
    }
  }
}
.edit-box {
  .at-card__content-info {
    font-size: 26px;
  }
}
text {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}
.at-float-layout .layout-body__content {
  height: 100%;
  position: relative;
}
.layout-header__title {
  line-height: 1.2 !important;
}

.at-float-layout .layout-header__btn-close:before,
.at-float-layout .layout-header__btn-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 36rpx;
  height: 2px;
  border-radius: 1px;
  background: #ccc;
}
.at-float-layout .layout-header__btn-close:before {
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}
.at-float-layout .layout-header__btn-close:after {
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}
.copySYXJ {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.input-tips {
  color: #919191;
  font-size: 20px;
}
.make-left-copyright,
.jinri-left-copyright {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 10px;
  bottom: 18px;
  align-items: center;
  font-family: "HYQiHei 65J";
  text-shadow: 0.5px 0.5px 1.2px rgba(0, 0, 0, 0.2),
    1px 1px 1.8px rgba(0, 0, 0, 0.15), 1.5px 1.5px 2.4px rgba(0, 0, 0, 0.15),
    2px 2px 3px rgba(0, 0, 0, 0.1);
  image {
    width: 25px;
    height: 25px;
    margin-right: 3px;
    margin-left: 5px;
  }
  view {
    color: rgba(255, 255, 255, 0.7);
    font-size: 19px;
    font-weight: 500;
  }
  .short-line {
    width: 1px;
    height: 16px;
    background: rgba(255, 255, 255, 0.7);
    margin: 0 8px -4px 8px;
  }
}
.make-left-copyright {
  color: rgba(255, 255, 255, 0.75);
  left: 11px;
  bottom: 10px;
  font-size: 26px;
  image {
    width: 30px;
    height: 30px;
    margin-right: 9px;
    margin-left: 5px;
  }
}
.jinri-right-copyright,
.make-right-copyright {
  margin-bottom: 6px;
  margin-right: 3px;
  position: relative;
  image {
    width: 132px;
    height: 62px;
  }
}
.make-right-copyright {
  image {
    width: 105px;
    height: 96.6px;
    transform: translate(-3rpx, -22rpx);
  }
}
