page {
  height: 100%;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.camera-box {
  position: relative;
  height: 75%;
  width: 100%;
}
.camera-box {
  position: relative;
}
.camera {
  height: 100%;
  display: block; /* 确保相机组件显示为块级元素 */
}

.camera-cover {
  position: absolute;
  bottom: 0;
  left: 0;
}
.mask-box {
  position: absolute;
  bottom: 25%;
  left: 10px;
  &.top {
    bottom: 62%;
  }
}
.camera-btns {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fanzhuan-icon,
.shanguangdeng-icon {
  width: 100px;
  height: 100px;
  image {
    width: 60%;
    height: 60%;
  }
}
.shanguangdeng-icon image {
  width: 45%;
  height: 45%;
}
.zoom-text,
.fanzhuan-icon,
.shanguangdeng-icon {
  font-size: 15pt;
  width: 80px;
  height: 80px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.5); // 半透明的黑色背景
  color: #fff; // 白色字体
  border-radius: 50%; // 使div变成圆形
  display: flex; // 使用Flexbox布局
  justify-content: center; // 水平居中
  align-items: center; // 垂直居中
  text-align: center; // 文本居中
}
.icon-x {
  position: relative;
  width: 25px; // 图标的宽度
  height: 25px; // 图标的高度
  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 24px; // 交叉线的宽度
    height: 5px; // 交叉线的高度
    background-color: #fff; // 交叉线的颜色
  }

  &::before {
    transform: rotate(50deg); // 顺时针旋转45度
  }

  &::after {
    transform: rotate(-50deg); // 逆时针旋转45度
  }
}
.hideCanvas {
  position: absolute;
  left: -10000px;
  top: -10000px;
}
.setting-icon {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tools-bar {
  height: 12%;
  display: flex;
  align-items: center;
  position: relative;
  > view {
    width: 25%;
    flex-shrink: 0;
  }
}
.tools-bar-inner {
  box-sizing: border-box;
  padding: 0 5%;
  width: 50% !important;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  position: relative;
}
.bottom-btns {
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  margin-top: 20px;
  > view {
    width: 45%;
    text-align: center;
    height: 64px;
    line-height: 64px;
    flex-shrink: 0;
  }
}

/* pages/index/index.scss */
.take-photo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-button {
  width: 140px;
  height: 140px;
  border: 2px solid #000; // 外边细线
  border-radius: 50%; // 外圆
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-button-inner {
  width: 130px;
  height: 130px;
  background-color: #000; // 内部实心圆
  border-radius: 50%; // 内圆
}
.share-btn,
.vip-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #515151;
  border-radius: 50px;
  width: 45%;
  image {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
}

.vip-btn image {
  width: 50px;
  height: 50px;
}
.modal-list {
  view {
    margin-bottom: 10px;
  }
}
.txt1 {
  margin-top: 20px;
  view {
    margin: 0 5px;
    color: cornflowerblue;
  }
}
.auth-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  box-sizing: border-box;
  background-color: #515151;
  color: #fff;
  view {
    margin-bottom: 40px;
  }
}
.auth-list {
  view {
    margin-bottom: 10px;
  }
}
.hasAuth {
  color: rgb(82, 196, 26);
}
.noAuth {
  color: rgb(255, 77, 79);
}
.xiangceIcon {
  width: 70rpx;
  height: 70rpx;
}
.xiangce,.shuiyin{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 28px;
  text{
    margin-top: 10px;
  }
}
.xiangce {
  margin-right: 20%;
}
.shuiyinIcon {
  width: 70rpx;
  height: 70rpx;
}
.shuiyin-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.shuiyin-item {
  position: relative;
  width:95%;
  border-radius: 16px;
  margin-bottom: 40px;
  height: 300px;
  background: #aaa;
  overflow: hidden;
  .shuiyin-item-cover {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.4);
  }
  .shuiyin-item-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    height: 100%;
    box-sizing: border-box;

  }
  image {
    width: 70%;
  }
  button {
    width: 50%;
    display: inline-block;
    padding: 4px 12px;
    background-color: #ff6347; /* 橙红色背景 */
    color: #fff; /* 白色文字 */
    border: none;
    font-size: 32px;
  }
}
